.allleadsec{margin-top: 7%;margin-right: 1%;}
.allleadsdata{margin-left: 16%;
overflow-x: auto;}
.allleadsearchspn{
  margin-left: 16%;
  display: flex;
}
.myInputsearch{
  border: none;
  border-bottom: 1px solid black;
}
.myInputsearch :active{
  border:none!important;
  border-bottom:none!important;
}
.nomatchfind{color: #ed143d;
  margin: 12px 3%;
  box-shadow:0 10px 20px rgb(0 0 0 / 12%), 0 4px 8px rgb(0 0 0 / 6%);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 13px;
    margin-bottom: 5%;
  } 
  th, td {
    text-align: left;
    padding: 8px;
  }
.alleadsdatepick{
    border: 2px solid #ffc107;
    color: #ffc107;
}
.action-dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.action-dropdown:hover .dropdown-content1 {
  display: block;
}
.allleadsbtnedit{
  color: green;
  border: none;
  background-color: transparent;
}
.allleadsbtndelete{
  color: orangered;
  border: none;
  background-color: transparent;
}
 tr:nth-child(even){background-color: #fafafafa}

 /* Pagination css */
 .paginationBttns {
   width: 80%;
   height: 40px;
   list-style: none;
   display: flex;
   margin-top: 2%;
   margin-left: 6%
 }
 .paginationBttns a{
   padding: 10px;
   margin: 8px;
   border-radius: 5px;
   border: 1px solid #e6ecf1;
   color: orange;
   cursor: pointer;
   text-decoration: none;
 }
 .paginationBttns a:hover{
   color: #fff!important;
   background-color: orange;
 }
 .paginationActive a{
  color: #fff!important;
  background-color: orange;
 }

@media screen and (min-width:320px) and (max-width:575px){
    .allleadsec{ margin-top: 38%; } 
    .allleadsdata{margin-left: 0%;}
  .allleadsearchspn{display: grid;margin-left: 0px;}
  .paginationBttns a {
    padding: 5px;
    margin: 1px;}
    .paginationBttns {margin-top: 3%;}
}
@media screen and (min-width:576px) and (max-width:768px){
    .allleadsec{ margin-top: 14%; } 
    .allleadsdata{margin-left: 21%;}
    .allleadsearchspn{display: grid;}
    .paginationBttns a { padding: 6px;}
    .paginationBttns { margin-left: 18%;}
}
@media screen and (min-width:769px) and (max-width:1900px){
  .paginationBttns { margin-left: 18%;}
}